html, body {
  margin: 0;
  padding: 0;
  font-family: 'futura_ptbook';
  letter-spacing: 1.5;
  font-size: 14px;
  line-height: 1.4;
}
input, textarea, keygen, select, button {
  font-family: 'futura_ptbook';
  letter-spacing: 1.5;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-family: 'futura_ptheavy';
  text-transform: uppercase;
  font-size: 22px;
  margin: 0;
  padding: 0;
  letter-spacing: 3.5px;
}

.btn {
  border: 1px solid #000;
  padding: 7px 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  display: inline-block;
  font-size: 16px;
}
.no-touch .btn:hover, 
.btn:active {
  background-color: #000;
  color: #fff;
}

.btn.btn-black {
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
}
.no-touch .btn.btn-black:hover, 
.btn.btn-black:active {
  background-color: #fff;
  color: #000;
}

#header {
  height: 100vh;
  background: #000;
  position: relative;
  overflow: hidden;
}

#header .slideshow,
#header .slideshow > div,
#header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#header .slideshow > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

#header .overlay {
  background-color: rgba(0, 0, 0, 0.4);
}

#header .logo {
  position: absolute;
  display: block;
  top: 66px;
  left: 50%;
  margin-left: -150px;
  width: 301px;
}
#header .logo img {
  width: 100%;
  height: auto;
}

#header .menu {
  position: absolute;
  top: 64px;
  left: 66px;
}

#header .menu a {
  color: #fff;
  text-decoration: none;
}

#header .menu > a {
  font-family: 'dst';
  font-size: 21px;
}

#header .menu > ul {
  display: block;
  text-transform: uppercase;
  list-style: none;
  margin: 24px 0 0 0;
  padding: 0;
  opacity: 0;
}
#header.menu-active .menu > ul {
  opacity: 1;
}
#header .menu > ul > li {
  margin: 0;
  padding: 3px 0;
}
#header .menu > ul > li > a {
  pointer-events: none;
}
#header.menu-active .menu > ul > li > a {
  pointer-events: auto;
}
#header .menu > ul,
#header .logo {
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}
@media (max-width: 767px) {
  #header.menu-active .logo {
    opacity: 0.1;
  }
  #header .menu {
    top: 30px;
    left: 30px;
  }
  #header .logo {
    top: 30px;
    left: 50%;
    margin-left: -120px;
    width: 240px;
  }
}




#about .about-row:before,
#about .about-row:after {
  display: table;
  content: " ";
}
#about .about-row:after {
  clear: both;
}
#about .about-row .image {
  display: block;
  width: 100%;
  height: auto;
}
#about .about-row .tall-image {
  display: none;
}
#about .about-row .text {
  padding: 66px;
  background: url(/img/about-bg.jpg) no-repeat center center;
  background-size: cover;
  text-align: left;
}
@media (min-width: 992px) {
  #about .about-row {
    position: relative;
  }
  #about .about-row .image {
    display: none;
  }
  #about .about-row .tall-image {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    background-size: cover;
    background-position: center center;
  }
  #about .about-row .text {
    width: 50%;
  }
  #about .about-row:first-child .text {
    float: left;
  }
  #about .about-row:first-child .tall-image {
    right: 0;
  }
  #about .about-row:last-child .text {
    float: right;
  }
  #about .about-row:last-child .tall-image {
    left: 0;
  }
}
@media (min-width: 1399px) {
  #about .about-row:first-child {
    text-align: right;
  }
  #about .about-row:last-child {
    text-align: left;
  }
  #about .about-row .image {
    width: 50%;
    display: inline;
  }
  #about .about-row .tall-image {
    display: none;
  }
  #about .about-row .text {
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  #about .about-row:first-child .text {
    left: 0;
    float: none;
  }
  #about .about-row:last-child .text {
    right: 0;
    float: none;
  }
  #about .about-row .text .text-inner {
    display: table;
    height: 100%;
  }
  #about .about-row .text .text-inner .text-inner-inner {
    display: table-cell;
    vertical-align: middle;
  }
}



#toffee {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 90px;
  padding-bottom: 90px;
}
#toffee #cg-root {
  display: none;
}
#toffee .toffee-slider {
  max-width: 1040px;
  margin: 0 auto;
  height: 276px;
}
#toffee .toffee-slider.mini-jars-slider,
#toffee .toffee-slider.jars-slider {
  margin-top: 90px;
}
#toffee .toffee-slider .product {
  padding: 0;
  position: relative;
}
#toffee .toffee-slider .product .details {
  display: none;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#toffee .toffee-slider .product .details table {
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: inherit;
}
#toffee .toffee-slider .product .details .title {
  font-family: "futura_ptheavy";
  text-transform: uppercase;
  font-size: 16px;
}
#toffee .toffee-slider .product .details .price .dollars {
  font-family: "futura_ptheavy";
}
#toffee .toffee-slider .product .details .price .shipping,
#toffee .toffee-collection .shipping {
  color: #999;
}
#toffee .toffee-slider .product .image {
  display: block;
  z-index: 1;
  height: 276px;
  width: auto;
  margin: 0 auto;
  opacity: 1;
}
#toffee .toffee-slider .product.active .details {
  display: block;
}
#toffee .toffee-slider .product.active .image {
  opacity: 0;
}

#toffee .toffee-collection {
  text-align: center;
  margin-top: 40px;
}
@media (max-width: 1079px) {
  #toffee .toffee-collection {
    margin-top: 60px;
  }
}

#toffee .toffee-collection .title,
#toffee .toffee-collection .dollars,
#toffee .toffee-collection .shipping {
  font-family: "futura_ptheavy";
  font-size: 16px;
}
#toffee .toffee-collection .title {
  text-transform: uppercase;
}


#toffee .toffee-slider .product .details .title,
#toffee .toffee-slider .product .details .price,
#toffee .toffee-collection .title,
#toffee .toffee-collection .description,
#toffee .toffee-collection .price {
  margin-bottom: 14px;
}

/* mini jars are taller than pouches */
#toffee .toffee-slider.mini-jars-slider,
#toffee .toffee-slider.jars-slider,
#toffee .toffee-slider.mini-jars-slider .product .image,
#toffee .toffee-slider.jars-slider .product .image {
  height: 320px;
}

/* we only have 2 big jars... */
#toffee .toffee-slider.jars-slider {
  max-width: 680px;
}

.slick-prev, .slick-next {
  width: 30px;
  height: 30px;
  margin-top: -15px;
}
.slick-prev:before, .slick-next:before {
  color: #000;
  font-family: 'dst';
  font-size: 30px;
}
.slick-prev:before {
  content: '\e804';
}
.slick-next:before {
  content: '\e805';
}
.slick-dots li button:before {
  font-family: 'dst';
  content: '\e806';
  font-size: 24px;
}



#locations {
  position: relative;
}
#locations #map-canvas {
  background-color: #ccc;
  height: 500px;
}
#locations #map-canvas-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  text-align: center;
}
#locations #map-canvas-overlay .table-display {
  display: table;
  height: 100%;
  width: 100%;
}
#locations #map-canvas-overlay .table-cell-display {
  display: table-cell;
  vertical-align: middle;
}
#locations #map-canvas-overlay h1 {
  color: #fff;
  margin-bottom: 12px;
}
#locations #map-canvas-overlay input {
  padding: 7px 18px;
  display: inline-block;
  font-size: 14px;
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  line-height: 1.6;
  vertical-align: top; /* keep that horizontal alignment... */
  margin-right: 8px;
  width: 300px;
}
#locations #map-canvas-overlay .btn {
  margin-left: 8px;
}
@media (max-width: 499px) {
  #locations #map-canvas-overlay input {
    width: 200px;
  }
}

#contact {
  background: #000;
  color: #fff;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 18px;
}

#contact .email-links a,
#contact .social-links a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

#contact .email-links a {
  margin: 5px 0;
  font-size: 18px;
  letter-spacing: 2;
}
#contact .email-links a:first-child {
  margin-top: 10px;
}
#contact .email-links a:last-child {
  margin-bottom: 24px;
}
#contact .email-links .at-sign {
  font-size: 16px;
}

#contact .social-links a {
  font-family: 'dst';
  font-size: 14px;
  margin: 0 10px;
}

#contact .copyright {
  text-transform: uppercase;
  margin-top: 64px;
  color: rgba(255,255,255,0.35);
  font-size: 9px;
}



#davessweettooth #cg-cart,
#davessweettooth #cg-account {
  left: 0;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  right: auto;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  bottom: 60px;
  top: auto;
}
#davessweettooth #cg-account {
  display: none;
}
#davessweettooth #cg-cart:after,
#davessweettooth #cg-account:after {
  font-size: 12px;
  line-height: 20px;
  font-family: 'futura_ptheavy';
  white-space: nowrap;
}
