html, body {
  margin: 0;
  padding: 0;
  font-family: 'futura_ptbook';
  letter-spacing: 1.5;
  font-size: 14px;
}

h1 {
  font-family: 'futura_ptheavy';
  text-transform: uppercase;
  font-size: 22px;
  margin: 0;
  padding: 0;
  letter-spacing: 3.5px;
}

#header {
  height: 100vh;
  background: #000;
  position: relative;
  overflow: hidden;
}

#header .slideshow,
#header .slideshow > div,
#header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#header .slideshow > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

#header .overlay {
  background-color: rgba(0, 0, 0, 0.4);
}

#header .logo {
  position: absolute;
  display: block;
  top: 66px;
  left: 50%;
  margin-left: -150px;
  width: 301;
  height: auto;
}

#header .menu {
  position: absolute;
  top: 64px;
  left: 66px;
}

#header .menu a {
  color: #fff;
  text-decoration: none;
}

#header .menu > a {
  font-family: 'dst';
  font-size: 21px;
}

#header .menu > ul {
  display: none;
  text-transform: uppercase;
  list-style: none;
  margin: 24px 0 0 0;
  padding: 0;
}
#header .menu > ul > li {
  margin: 0;
  padding: 3px 0;
}






#about table,
#about tr,
#about td {
  border: 0;
  padding: 0;
  border-spacing: 0;
}
#about table tr td {
  width: 50%;
}
#about table tr td.text {
  background: url(/img/about-bg.jpg) no-repeat center center;
  background-size: cover;
  padding: 66px;
}
#about table tr td.text h1 {
  margin-bottom: 10px;
}
#about table tr td.text span {
  font-size: 13px;
  line-height: 18px;
}
#about table tr td.image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#about table tr td.image img {
  width: 100%;
  height: auto;
}
@media (max-width: 1199px) {
  #about table tr td.image img {
    display: none;
  }
}




#toffee #cg-root .cg-product {
  /* display: none; */
}




#locations #map-canvas {
  height: 400px;
}




#contact {
  background: #000;
  color: #fff;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 18px;
}

#contact .email-links a,
#contact .social-links a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

#contact .email-links a {
  margin: 5px 0;
  font-size: 18px;
  letter-spacing: 2;
}
#contact .email-links a:first-child {
  margin-top: 10px;
}
#contact .email-links a:last-child {
  margin-bottom: 24px;
}
#contact .email-links .at-sign {
  font-size: 16px;
}

#contact .social-links a {
  font-family: 'dst';
  font-size: 14px;
  margin: 0 10px;
}

#contact .copyright {
  text-transform: uppercase;
  margin-top: 64px;
  color: rgba(255,255,255,0.35);
  font-size: 9px;
}
